{% extends "layout/header.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div style="width: 100%;">

<div class="align-center">
<h1 style="margin-top: 50px; width: 100%;">Vítejte v unikatní soutěži ByteBurst!</h1>
<h3>Jste připraveni otestovat své znalosti a zjistit, jak dobře ovládáte různé programovací jazyky? Naše interaktivní kvízy prověří vaše schopnosti v základních i pokročilých oblastech programování.</h3>
</div>

<div class="element-main-menu">
    <img src="static\images\code.png" class="main-menu-img" style="float: left; margin: 0;" alt="">
    <div class="align-right" style="width: 60%;">
        <h2 style="width: 40%;">Rozmanité otázky a výzvy</h2>
        <h3>Naše kvízy pokrývají širokou škálu jazyků jako Python, C, C++ a SQL. Každý kvíz obsahuje praktické úlohy a teoretické otázky, které vás přimějí přemýšlet a aplikovat své znalosti.</h3>
    </div>
</div>

<div class="element-main-menu">
    
    <div class="align-left" style="width: 60%;">
        <h2 style="width: 40%;">Personalizovaná zpětná vazba</h2>
        <h3>Po každém kvízu dostanete okamžitou zpětnou vazbu. Zjistíte své silné stránky a oblasti k zlepšení.</h3>
    </div>
    <img src="static\images\graph.png" class="main-menu-img" style="float: right; width: 20%;  margin: 0;" alt="">
</div>

<div class="element-main-menu">
<img src="static\images\people.png" class="main-menu-img" style="float: left; margin: 0;" alt="">
<div class="align-right" style="width: 60%;">
    <h2 style="width: 40%;">Soutěžte s přáteli a kolegy</h2>
    <h3>Soutěžte s přáteli a kolegy, vytvářejte vlastní kvízy a sledujte výsledky v reálném čase. Uvidíte, kdo je skutečným mistrem programování ve vašem týmu!</h3>
    
</div>
</div>

<div class="element-main-menu">
<div class="align-left" style="width: 60%;">
    <h2 style="width: 40%;">Zlepšujte své dovednosti a sledujte svůj pokrok</h2>
    <h3>Sledujte svůj pokrok v čase a plánujte své další studium. Každý kvíz vás posune blíže k tomu, abyste se stali expertem v programování.</h3>
</div>
<img src="static\images\bug.png" class="main-menu-img" style="float: right;  margin: 0;" alt="">
</div>

<div class="element-main-menu">
<div class="align-center">
    <h2 style="margin-top: 50px; width: 100%;">Začněte dnes a objevte svět programování!</h2>
    <img src="static\images\hacker.png" style="width: 50%; height: 50%; margin-top: 80px;" alt="">
    <h3 style="margin-top:100px;">Připojte se k naší komunitě a začněte svůj první kvíz ještě dnes. Zlepšete své dovednosti zábavným a interaktivním způsobem.</h3>
    <h2 style="margin-top: 400 px; width: 100%;">Připraveni? Začněte svůj <a href="{{ url_for('kvizy') }}">kvíz</a> nyní!</h2>

</div>
</div>

<footer>
    <h3 style="vertical-align: middle;">© F.B. 2025</h3>
    <a style="margin-bottom: 0; vertical-align: middle; width: 15%; height: 15%;" href="//github.com/VanRhapsody/PersonalProject"><img style="height: 80%; width: 80%;" src="static\images\GitHub-Logo.wine.svg" alt=""></a>
</footer>

</div>

{% endblock %}
