{% extends "layout/header.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-left-section">
    <h2>Uživatelské jméno: {{ username }}</h2><br>
    <h2>E-Mail: {{ email }}</h2><br>
    <h2>Bio</h2><br>
    <p> 
       
        {% if bio %}
            {{ bio }}
        {% endif %}
    </p>
    {% if username==session["username"] %}
    <table class="profile-links">
    <tr>
        <td>
            <div style="display: flex;">
                <a href="{{ url_for('change_username')}}" style="width: 100%;">Změnit už. jméno</a>
            </div>
        </td>
        <td>
            <div style="display: flex;">
                <a href="{{ url_for('change_email')}}" style="width: 100%;">Změnit e-mail</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="display: flex;">
                <a href="{{ url_for('change_password')}}" style="width: 100%;">Změnit heslo</a>
            </div>
        </td>
        <td>
            <div style="display: flex;">
                <a href="{{ url_for('change_bio')}}" style="width: 100%;">Změnit bio</a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="display: flex;">
                <a href="{{ url_for('logout') }}" style="width: 100%;">Odhlásit se</a>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="display: flex;">
                <a href="{{ url_for('add_quiz') }}" style="width: 100%">Přidat kvíz</a>
            </div>
        </td>
    </tr>
    {% if username==session["username"] and is_admin==1 %}
    <tr>
        <td colspan="2">
            <div style="display: flex;">
                <a href="{{ url_for('category_choose') }}" style="width: 100%;">Odstranit kvíz</a>
            </div>
        </td>
    </tr>
    {% endif %}
    </table>
    {% endif %}
</div>

<div class="profile-right-section">
    <h1>Statistiky</h1>

    <h2>Absolvováno kvízů: {{ quiz_absolved }}</h2>
    <h2>Správných odpovědí v kvízech {{ quiz_correct }}</h2>
    <h2 style="text-align: center;">Popularita jazyků:</h2>
    {% for element in language_popularity %}
        <p>{{ element[0][0] }} - {{ element[1] }} kvízů</p>
    {% endfor %}
</div>

{% endblock %}

