{% extends "layout/header.html" %}
{% block title %}Ulohy{% endblock %}
{% block content %}

<div class="quiz-content-left">
    {% for i in range (session["quiz_list"]|length) %}
        {% if session["correct_wrong"][i] == 1 %}
        <span class="quiz-content-left-circle" style="background-color: var(--active-green);"></span><br>
        {% elif session["correct_wrong"][i] == 0 %}
        <span class="quiz-content-left-circle" style="background-color: red;"></span><br>
        {% else %}
        <span class="quiz-content-left-circle" style="background-color: var(--page-background);"></span><br>
        {% endif %}
    {% endfor %}

</div>

<div class="quiz-content-main">
    <h2 style="padding: 20px;">{{ session["quiz_list"][session["quiz_list_index"]][1] }}</h2>
    <br>
    <div style="text-align: center;">
        <img src='/static/images/{{ session["quiz_list"][session["quiz_list_index"]][2] }}' alt="">
    </div>
    <hr>
    <form action="{{ url_for('next_quiz') }}" method="post" class="quiz-content-form">
        <label>
        {% if (answer == session["answers_list"][session["quiz_list_index"]][0][2] and session["correct_wrong"][session["quiz_list_index"]] == 1) or (session["answers_list"][session["quiz_list_index"]][0][3] == 1 and answer != session["answers_list"][session["quiz_list_index"]][0][2] and answer) %}
        <span class="quiz-content-answer" style="background-color:var(--active-green) !important">
        {% elif answer == session["answers_list"][session["quiz_list_index"]][0][2] and session["correct_wrong"][session["quiz_list_index"]]==0 %}
        <span class="quiz-content-answer" style="background-color:red !important">
        {% else %}
        <span class="quiz-content-answer">
        {% endif %}
            {% if session["answers_list"][session["quiz_list_index"]][0][2]==None %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][0][2] }}' disabled>
            {% else %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][0][2] }}'>
            {% endif %}
            <label>{{ session["answers_list"][session["quiz_list_index"]][0][2] }}</label>
        </span>
        </label>
        <br>
        <label>
        {% if (answer == session["answers_list"][session["quiz_list_index"]][1][2] and session["correct_wrong"][session["quiz_list_index"]]==1) or (session["answers_list"][session["quiz_list_index"]][1][3] == 1 and answer != session["answers_list"][session["quiz_list_index"]][1][2] and answer)  %}
        <span class="quiz-content-answer" style="background-color:var(--active-green) !important">
        {% elif answer == session["answers_list"][session["quiz_list_index"]][1][2] and session["correct_wrong"][session["quiz_list_index"]]==0 %}
        <span class="quiz-content-answer" style="background-color:red !important">
        {% else %}
        <span class="quiz-content-answer">
        {% endif %}
            {% if session["answers_list"][session["quiz_list_index"]][1][2]==None %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][1][2] }}' disabled>
            {% else %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][1][2] }}'>
            {% endif %}
            <label>{{ session["answers_list"][session["quiz_list_index"]][1][2] }}</label>
        </span>
        </label>
        <br>
        <label>
        {% if (answer == session["answers_list"][session["quiz_list_index"]][2][2] and session["correct_wrong"][session["quiz_list_index"]]==1) or (session["answers_list"][session["quiz_list_index"]][2][3] == 1 and answer != session["answers_list"][session["quiz_list_index"]][2][2] and answer)  %}
        <span class="quiz-content-answer" style="background-color:var(--active-green) !important">
        {% elif answer == session["answers_list"][session["quiz_list_index"]][2][2] and session["correct_wrong"][session["quiz_list_index"]]==0 %}
        <span class="quiz-content-answer" style="background-color: red !important">
        {% else %}
        <span class="quiz-content-answer">
        {% endif %}
            {% if session["answers_list"][session["quiz_list_index"]][2][2]==None %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][2][2] }}' disabled>
            {% else %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][2][2] }}'>
            {% endif %}
            <label>{{ session["answers_list"][session["quiz_list_index"]][2][2] }}</label>
        </span>
        </label>
        <br>
        <label>
        {% if (answer == session["answers_list"][session["quiz_list_index"]][3][2] and session["correct_wrong"][session["quiz_list_index"]]==1) or (session["answers_list"][session["quiz_list_index"]][3][3] == 1 and answer != session["answers_list"][session["quiz_list_index"]][3][2] and answer)  %}
        <span class="quiz-content-answer" style="background-color:var(--active-green) !important">
        {% elif answer == session["answers_list"][session["quiz_list_index"]][3][2] and session["correct_wrong"][session["quiz_list_index"]]==0 %}
        <span class="quiz-content-answer" style="background-color:red !important">
        {% else %}
        <span class="quiz-content-answer">
        {% endif %}
            {% if session["answers_list"][session["quiz_list_index"]][3][2]==None %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][3][2] }}' disabled>
            {% else %}
            <input type="radio" name="answer" value='{{ session["answers_list"][session["quiz_list_index"]][3][2] }}'>
            {% endif %}
            <label>{{ session["answers_list"][session["quiz_list_index"]][3][2] }}</label>
        </span>
        </label>
        <br>

        <div style="text-align: center;">
        {% if answered %}
        <input class="quiz-check" style="color: white; cursor: not-allowed;" type="submit" value="Odpovědět" disabled>
        <a class="quiz-check" href="{{ url_for('send_answer') }}">Pokračovat</a>
        {% else %}
        <input class="quiz-check" style="color: white;" type="submit" value="Odpovědět">
        {% endif %}
        </div>


   
    </form>
</div>



{% endblock %}


