{% extends "layout/header.html" %}
{% block title %}Ulohy{% endblock %}
{% block content %}


<div style="top: 10px; position: relative;">
<div class="task-menu">
    <h1 style="margin: auto;">{{ task[1] }}</h1>
    <hr>
    <p>{{ task[2] }}</p>
    <br>
    <div style="margin: auto; text-align: center;">
        <form action="{{ url_for('task', task_id=task[0]) }}" method="POST" enctype="multipart/form-data">
            <label for="file">Vložte soubor s řešením</label>
            <input type="file" id="file" name="file" accept=".py"><br>
            <input style="color: black;" type="submit" name="" id="" value="Odeslat">
        </form>
    <p>Upozorňuji, že kód má vypdat tak, že definuejte funkci, která bude vracet požadovanou hodnotu (return) a nakonec uděláte print a název funkce</p>
    </div>


</div>
</div>




{% endblock %}