<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\login.css">
    <title>Document</title>
</head>
<body style="background-image: url(static/images/EWjl.gif); background-size: cover;">
    <div class="form-class" style="width: 500px !important;">
    <form action="{{ url_for('change_email') }}" method="post" style="width: 100% !important;">
        <label for="email">Zadejte E-Mail:</label>
        <input type="email" name="email" id="email" placeholder="Zadejte E-Mail:" maxlength="25"><br>
        <input type="submit" value="Nastavit E-Mail"><br>
        <a href="{{ url_for('profile') }}">Vrátit se zpět</a>
    </form>
    
</div>
</body>
</html>