<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\login.css">
    <title>Document</title>
</head>
<body style="background-image: url(static/images/EWjl.gif); background-size: cover;">
    <div class="form-class" style="width: 500px !important;">
    <form action="{{ url_for('change_password') }}" method="post" style="width: 100% !important;">
        <label for="current_password">Zadejte aktuální heslo: </label>
        <input type="password" name="current_password" id="current_password" placeholder="Zadejte akt. heslo:"><br>
        <label for="password">Zadejte heslo:</label>
        <input type="password" name="password" id="password" placeholder="Zadejte heslo:"><br>
        <input type="submit" value="Nastavit heslo"><br>
        <a href="{{ url_for('profile') }}">Vrátit se zpět</a>
    </form>
    
</div>
</body>
</html>