<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\login.css">
    <title>Document</title>
</head>
<body style="background-image: url(static/images/EWjl.gif); background-size: cover;">
    <div class="form-class" style="width: 500px !important;">
    <form action="{{ url_for('change_username') }}" method="post" style="width: 100% !important;">
        <label for="username">Zadejte už. jméno:</label>
        <input type="text" name="username" id="username" placeholder="Zadejte už. jméno:" maxlength="30"><br>
        <input type="submit" value="Nastavit už. jméno"><br>
        <a href="{{ url_for('profile') }}">Vrátit se zpět</a>
    </form>
    
</div>
</body>
</html>