* {
    font-family: "Ubuntu Mono", monospace;
    color: white;
}

:root {
    --background-green:#285238;
    --hover-green:#007C41;
    --active-green:#01D758;
    --page-background: #34403A;
}

body {
    margin: 0;
    padding: 0;
    background-color: #34403A;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-green);
}

header li {
  float: left;
}

header li a {
  display: block;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size:30px;
  transition: 0.3s;

}

header li a:hover:not(.active) {
  background-color: var(--hover-green);
  transition: 0.3s;

}

header .active {
  background-color: var(--active-green);
  color:var(--background-green);

}

h1 {
    font-size: 75px;
    display: inline-block;
    text-align: center !important;
    margin: auto;
    position: relative;
    vertical-align: center;

}

h2 {
  font-size: 60px;
  display: inline-block;

}

h3 {
  font-size: 30px;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  
}

.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: center;
  left: 0;
  float: left;
}

.align-right {
  text-align: center;
  right: 0;
  float: right;
}

.main-menu-img {
  margin: 20px;
  padding: 20px;
  width: 35%;
  height: 35%;
}

.element-main-menu {
  margin-top: 50px;
  margin-bottom: 400px;
  padding: 20px;
  
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-green);
  text-align: center;
  padding: 10px;
  padding-right: 0;
}

.vertical-navbar {
  position: sticky;
  top: 10px;
  margin: 20px;
  width: 10%;
  background-color: var(--background-green);
}

.vertical-navbar ul {

  list-style-type: none;
  font-family: "Ubuntu Mono", monospace;
  padding: 0;
  

}

.vertical-navbar li {
  border-bottom: solid var(--hover-green);
}


.vertical-navbar li a {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
  margin: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  
}

.vertical-navbar li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.vertical-navbar li:first-child {
  padding-top: 10px;
}

.task-menu {
  width: 85%; 
  float: right;
}

.task-table {
  background-color: var(--background-green);
}

.task-table th {
  font-size: 50px;
}

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }

