* {
    font-family: "Ubuntu Mono", monospace;
    color: white;
}

:root {
    --background-green:#285238;
    --hover-green:#007C41;
    --active-green:#01D758;
    --page-background: #34403A;
}

body {
    margin: 0;
    padding: 0;
    background-color: #34403A;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-green);
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
}


header li a, button {
  display: block;
  text-align: center;
  padding: 30px 30px;
  margin: 0;
  text-decoration: none;
  font-size:30px;
  transition: 0.3s;
  background-color: none;

}



header li a:hover:not(.active), button:hover:not(.active) {
  background-color: var(--hover-green);
  transition: 0.3s;

}

header .active {
  background-color: var(--active-green);
  color:var(--background-green);

}

h1 {
    font-size: 75px;
    display: inline-block;
    text-align: center;
    margin: auto;
    position: relative;
}

h2 {
  font-size: 60px;
  display: inline-block;

}

h3 {
  font-size: 30px;
  display: inline-block;
  margin: 20px;
  padding: 5px;
  
}

.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: center;
  left: 0;
  float: left;
}

.align-right {
  text-align: center;
  right: 0;
  float: right;
}

.main-menu-img {
  margin: 20px;
  padding: 20px;
  width: 35%;
  height: 35%;
}

.element-main-menu {
  margin-top: 50px;
  margin-bottom: 400px;
  padding: 20px;
  
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-green);
  text-align: center;
  padding: 10px;
  padding-right: 0;
}

.vertical-navbar {
  position: sticky;
  margin:20px;
  top: 20px;
  width: 10%;
  background-color: var(--background-green);
}

.vertical-navbar ul {
  list-style-type: none;
  font-family: "Ubuntu Mono", monospace;
  padding: 0;
  
}

.vertical-navbar li {
  border-bottom: solid var(--hover-green);
}


.vertical-navbar li a {
  font-family: "Ubuntu Mono", monospace;
  font-size: 30px;
  padding: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.vertical-navbar li:hover {
  background-color: var(--active-green);
}

.vertical-navbar li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.vertical-navbar li:first-child {
  padding-top: 10px;
}

.task-menu {
  width: 85%; 
  float: right;
  right: 20px;
  position: relative;
  background-color: var(--background-green);
}

.task-table {
  width: 100%;
  border-top: solid black 2px;
  
}

.task-table th {
  font-size: 50px;
  padding: 10px;
  text-align: center;
}

.task-table td {
  font-size: 40px;
}

.task-table tr:first-child:hover {
  background-color: var(--background-green);
}

.task-table tr:hover {
  background-color: var(--active-green);
}

.filters {
  font-size: 30px;
  width: 100%;
  background-color: var(--background-green);
  border-collapse: collapse;
  text-align: center;
}

.filters p {
  padding: 10px;
  border-left: solid var(--hover-green);
  display: inline-block;
  font-size: 40px;
}

.filters p:first-child {
  border-left: none;
}

.filters-form {
  padding: 10px; 
  color: white;
  font-size: 30px;
}



.filters-table th {
  border: solid var(--hover-green);
  border-collapse: collapse;
}

.filters-table td {
  border: solid var(--hover-green);
  border-collapse: collapse;
}

.quiz-choice {
  top: 10px;
  position: relative;
  margin-top: 20px;
  margin: auto;
  width: 95%;
  text-align: center;
  background-color: var(--background-green);
  
}

.quiz-choice input, select, label, option {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
  color: black;
}

.quiz-content-left {
  background-color: var(--background-green);
  width: 10%;
  margin: 10px;
  float: left;
  min-height: 200px;
}

.quiz-content-left-circle {
  border-radius: 50%;
}

.quiz-content-main {
  width: 85%;
  margin: 10px;
  float: right;
  background-color: var(--background-green);
  color: white;
}

.quiz-content-form {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.quiz-content-form label,input {
  color: white;
  margin: 20px;
  padding: 5px;
}



.quiz-content-form input[type=submit] {
  color: black;
}

.quiz-content-answer {
  padding: 5px;
  background-color: var(--page-background);
  margin: 10px;
  width: 95%;
  display: inline-block;
  text-align: left;
}

.quiz-content-form input:focus ~ .quiz-content-answer {
  background-color: var(--active-green) !important;
}

.profile-left-section {
  width: 50%;
  float: left;
  text-align: center;
  margin: 10px;
  background-color: var(--background-green);

}

.profile-left-section h2 {
 margin: 10px;
 max-width: 90%;
}

.profile-left-section p {
  font-size: 20px;
}

.profile-right-section {
  width: 47%;
  float: right;
  margin: 10px;
  background-color: var(--background-green);
  min-height: 500px;
}

.profile-right-section h1,h2 {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.profile-right-section h1 {
  border-bottom: solid var(--hover-green);
}

.profile-right-section p {
  font-size: 30px;
  padding: 5px;
  text-align: center;
}

.profile-links {
  margin: auto;
  border-spacing: 10px;
}

.profile-links a {
  text-decoration: none;
  font-weight: bold;
  font-size:50px;
}

.profile-links tr, td {
  text-align: center;
  padding: 10px;


}

.profile-links td {
  min-width: 200px;
  border: solid var(--page-background);
  transition: 0.3s;
  
}

.profile-links td:hover {
  background-color: var(--active-green);
  transition: 0.3s;
}


.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }

