<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\login.css">
    <title>Document</title>
</head>
<body style="background-image: url(static/images/EWjl.gif); background-size: cover;">
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="form-class">
    <form action="{{ url_for('change_email') }}" method="post">
        <label for="email">Zadejte E-Mail:</label>
        <input type="email" name="email" id="email" placeholder="Zadejte E-Mail:"><br>
        <input type="submit" value="Nastavit E-Mail"><br>
        <a href="{{ url_for('index') }}">Vrátit se zpět</a>
    </form>
    
</div>
</body>
</html>