<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>

   
</head>
<body>
<header>
    <ul>
            {% if active==1 %}
            <li><a class="active" href="{{url_for('index')}}">Domů</a></li>
            {% else %}
            <li><a href="{{url_for('index')}}">Domů</a></li>
            {% endif %}
            {% if active==2 %}
            <li><a class="active" href="{{url_for('tasks')}}">Úlohy</a></li>
            {% else %}
            <li><a href="{{url_for('tasks')}}">Úlohy</a></li>
            {% endif %}
            <li style="margin: 30px;"><h1>ByteBurst</h1></li>

            {% if active==3 %}
            <li><a class="active" href="{{url_for('kvizy')}}">Kvízy</a></li>
            {% else %}
            <li><a href="{{url_for('kvizy')}}">Kvízy</a></li>
            {% endif %}

            {% if active==4 and not session["username"] %}
            <li><a class="active" href="{{url_for('profile')}}">Registrovat</a></li>
            {% elif not session["username"] %}
            <li><a href="{{url_for('profile')}}">Registrovat</a></li>
            {% elif active!=4 %}
            <li><a href="{{url_for('profile')}}">{{ session["username"] }}</a></li>
            {% else %}
            <li class="active" style="float:right"><a href="{{url_for('profile')}}">{{ session["username"] }}</a></li>
            {% endif %}

      </ul>



</header>



    {% block content %}{% endblock %}

</body>
</html>