{% extends "header.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="align-center">
<h1 style="margin-top: 50px; width: 100%;">Vítejte v unikatní soutěži ByteBurst!</h1>
<h3>Jste připraveni otestovat své znalosti a zjistit, jak dobře ovládáte různé programovací jazyky? Naše interaktivní kvízy prověří vaše schopnosti v základních i pokročilých oblastech programování.</h3>
</div>

<div class="align-right">
    <h2 style="margin-top: 50px; width: 100%;">Rozmanité otázky a výzvy</h2>
    <h3 style="width: 60%; margin-top:2%;">Naše kvízy pokrývají širokou škálu jazyků jako Python, Java, C++ a JavaScript. Každý kvíz obsahuje praktické úlohy a teoretické otázky, které vás přimějí přemýšlet a aplikovat své znalosti.</h3>
    <img src="static\images\code.png" style="width: 800px; height: 300px; float: left;" alt="">
</div>



{% endblock %}
