{% extends "header.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="align-center">
<h1 style="margin-top: 50px; width: 100%;">Vítejte v unikatní soutěži ByteBurst!</h1>
<h3>Jste připraveni otestovat své znalosti a zjistit, jak dobře ovládáte různé programovací jazyky? Naše interaktivní kvízy prověří vaše schopnosti v základních i pokročilých oblastech programování.</h3>
</div>

<div id="element-one" style="margin-top: 50px;">
<img src="static\images\code.png" style="width: 800px; height: 300px; float: left;" alt="">
<div class="align-right" style="width: 70%; margin-top: -15%;">
    <h2 style="width: 40%;">Rozmanité otázky a výzvy</h2>
    <h3 style="margin-top:2%;">Naše kvízy pokrývají širokou škálu jazyků jako Python, Java, C++ a JavaScript. Každý kvíz obsahuje praktické úlohy a teoretické otázky, které vás přimějí přemýšlet a aplikovat své znalosti.</h3>
</div>
</div>

<div id="element-two" style="margin-top:200px;">
<img src="static\images\graph.png" style="width: 400px; height: 500px; float: right;" alt="">
<div class="align-left" style="width: 70%;">
    <h2 style="width: 40%;">Personalizovaná zpětná vazba</h2>
    <h3 style="margin-top:2%;">Po každém kvízu dostanete okamžitou zpětnou vazbu. Zjistíte své silné stránky a oblasti k zlepšení, a naučíte se z každé otázky díky podrobným vysvětlením správných odpovědí.</h3>
    
</div>
</div>

<div class="align-right">
    <h2 style="margin-top: 50px; width: 100%;">Soutěžte s přáteli a kolegy</h2>
    <h3 style="width: 60%; margin-top:2%;">Soutěžte s přáteli a kolegy, vytvářejte vlastní kvízy a sledujte výsledky v reálném čase. Uvidíte, kdo je skutečným mistrem programování ve vašem týmu!</h3>
    <img src="static\images\people.png" style="width: 800px; height: 300px; float: left;" alt="">
</div>

<div class="align-left">
    <h2 style="margin-top: 50px; width: 100%;">Zlepšujte své dovednosti a sledujte svůj pokrok</h2>
    <h3 style="width: 60%; margin-top:2%;">Sledujte svůj pokrok v čase a plánujte své další studium. Každý kvíz vás posune blíže k tomu, abyste se stali expertem v programování.</h3>
    <img src="static\images\bug.png" style="width: 800px; height: 300px; float: right;" alt="">
</div>


<div class="align-center">
    <h2 style="margin-top: 50px; width: 100%;">Začněte dnes a objevte svět programování!</h2>
    <img src="static\images\hacker.png" style="width: 800px; height: 300px; float: right; margin-top: 300px;" alt="">
    <h3 style="width: 100%; margin-top:800px;">Připojte se k naší komunitě a začněte svůj první kvíz ještě dnes. Zlepšete své dovednosti zábavným a interaktivním způsobem.</h3>
    <h2 style="margin-top: 1000 px; width: 100%;">Připraveni? Začněte svůj <a href="#">kvíz</a> nyní!</h2>


</div>

{% endblock %}
