<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <ul style="display:flex; justify-content: space-evenly;">
        <div><li>
            <a class="active" href="index.html">Domů</a></li>
            <li><a href="ulohy.html">Úlohy</a></li>
        </div>
        <h1>ByteBurst</h1>
        <div>
        <li style="float:right"><a href="kvizy.html">Kvízy</a></li>
        <li style="float:right"><a href="profil.html">Přihlásit se</a></li>
        </div>
      </ul>
</body>
</html>