{% extends "header.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-left-section">
    <h2>Uživatelské jméno: {{ username }}</h2><br>
    <h2>E-Mail: {{ email }}</h2><br>
    <h2>Bio</h2><br>
    <p> 
       
        {% if bio %}
            {{ bio }}
        {% endif %}
    </p>
    <table class="profile-links">
    <tr>
        <td><a href="#">Změnit už. jméno</a></td>
        <td><a href="#">Změnit e-mail</a></td>
    </tr>
    <tr>
        <td><a href="#">Změnit heslo</a></td>
        <td><a href="{{ url_for('change_bio')}}">Změnit bio</a></td>
    </tr>
    
    </table>
</div>

<div class="profile-right-section">
    <h1>Statistiky</h1>

    <h2>Absolvováno kvízů: 666</h2>

    <h2 style="text-align: center;">Popularita jazyků:</h2>
    <p>1. Python - 540 úloh</p>
    <p>2. C# - 300 úloh</p>
    <p>3. Java - 160 úloh</p>
    <p>4. PHP - 20 úloh</p>
    <p>5. SQL - 5 úloh</p>
</div>

{% endblock %}

