{% extends "header.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-left-section">
    <h2>Uživatelské jméno: {{ username }}</h2><br>
    <h2>E-Mail: {{ email }}</h2><br>
    <h2>Bio</h2><br>
    <p> 
       
        {% if bio %}
            {{ bio }}
        {% endif %}
    </p>
    <table class="profile-links">
    <tr>
        <td><a href="{{ url_for('change_username')}}">Změnit už. jméno</a></td>
        <td><a href="{{ url_for('change_email')}}">Změnit e-mail</a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('change_password')}}">Změnit heslo</a></td>
        <td><a href="{{ url_for('change_bio')}}">Změnit bio</a></td>
    </tr>
    <tr>
        <td colspan="2"><a href="{{ url_for('logout') }}">Odhlásit se</a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('add_task') }}">Přidat úlohu</a></td>
        <td><a href="{{ url_for('add_quiz') }}">Přidat kvíz</a></td>
    </tr>
    
    </table>
</div>

<div class="profile-right-section">
    <h1>Statistiky</h1>

    <h2>Absolvováno kvízů: {{ quiz_absolved }}</h2>
    <h2>Správných odpovědí v kvízech {{ quiz_correct }}</h2>
    <h2 style="text-align: center;">Popularita jazyků:</h2>
    {% for element in language_popularity_temporary %}
        <p>{{ element[0] }} - {{ element[1] }} kvízů</p>
    {% endfor %}
</div>

{% endblock %}

