{% extends "header.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="profile-left-section">
    <h2>Uživatelské jméno: {{ username }}</h2><br>
    <h2>E-Mail: {{ email }}</h2><br>
    <h2>Bio</h2><br>
    <p> 
        Každý správný ajťák používá jen C a C++!!! Kdo používá výmysly jako Python, jen nerozumí IT a měl by si doplnit základní neznalosi, protože alokaci paměti a rutiny umí i moje dítě!!!11!!
        {% if bio %}
            {{ bio }}
        {% endif %}
    </p>
    <table class="profile-links">
    <tr>
        <td><a href="{{ url_for('change_info')}}">Změnit už. jméno</a></td>
        <td><a href="{{ url_for('change_info')}}">Změnit e-mail</a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('change_info')}}">Změnit heslo</a></td>
        <td><a href="{{ url_for('change_info')}}">Změnit bio</a></td>
    </tr>
    
    </table>
</div>

<div class="profile-right-section">
    <h1>Statistiky</h1>
</div>

{% endblock %}

