<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('register')}}" method="post">
        <input type="text" name="name" id="name" placeholder="Zadejte jméno:"><br>
        <input type="password" name="password" id="password" placeholder="Zadejte heslo:"><br>
        <input type="submit" value="Registrovat se">
    </form>
</body>
</html>