{% extends "header.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<br>
<div style="text-align: center;" class="vertical-navbar">
    <ul style="text-align: center;">
        <li><a href="/">Python</a></li>
        <li><a href="/">C</a></li>
        <li><a href="/">C#</a></li>
        <li><a href="/">C++</a></li>
        <li><a href="/">SQL</a></li>
        <li><a href="/">HTML</a></li>
        <li><a href="/">Algoritmy</a></li>
    </ul>
</div>


<div style="width: 70%; margin-left: 10px;"></div>

{% endblock %}