{% extends "header.html" %}
{% block title %}Ulohy{% endblock %}
{% block content %}
<br>


<div class="task-menu">
    <div class="filters">
        <h1>Filtry</h1>
        <table>
            <table>
                <th>Verified</th>
                <input type="radio" id="1" value="Ano"/>
            </table>
        </table>
    </div>
    
    <table class="task-table">
        <tr>
            <th style="text-align: center; padding: 0;">VER</th>
            <th style="padding-right: 45%;">Název</th>
            <th style="padding-right: 20%;">Téma</th>
            <th style="padding-right: 20%;">Úroveň</th>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="static\images\shield_15627713.png" alt=""></td>
            <td>Fibbonaciho posloupnost - určování</td>
            <td>Python</td>
            <td>Lehká</td>
        </tr>
    </table>
</div>


<div class="vertical-navbar">
    <ul>
        <li><a href="/">Python</a></li>
        <li><a href="/">C</a></li>
        <li><a href="/">C#</a></li>
        <li><a href="/">C++</a></li>
        <li><a href="/">SQL</a></li>
        <li><a href="/">HTML</a></li>
        <li><a href="/">Algoritmy</a></li>
    </ul>
</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}