{% extends "header.html" %}
{% block title %}Ulohy{% endblock %}
{% block content %}
<br>


<div class="task-menu">
    <div class="filters">
        <h1>Filtry</h1>
        <form action="" class="filters-form">
            <p>Verified</p> 
            <input type="radio" id="ano" name="volba" value="ano">
            <label for="ano">Ano</label>
                

                <input type="radio" id="ne" name="volba" value="ne">
                <label for="ne">Ne</label>
            <br>
            <p>Téma</p>
                    <input type="checkbox" name="python" id="python">
                    <label for="python">Python</label>

                    <input type="checkbox" name="C" id="C">
                    <label for="C">C</label>

                    <input type="checkbox" name="C#" id="C#">
                    <label for="C#">C#</label>

                    <input type="checkbox" name="C++" id="C++">
                    <label for="C++">C++</label>

                    <input type="checkbox" name="sql" id="sql">
                    <label for="sql">SQL</label>

                    <input type="checkbox" name="html" id="html">
                    <label for="html">HTML</label>

                    <input type="checkbox" name="algoritmy" id="algoritmy">
                    <label for="algoritmy">Algoritmy</label>
            <br>
            <p>Obtížnost</p>
                <input type="checkbox" name="lehka" id="lehka">
                <label for="lehka">Lehká</label>

                <input type="checkbox" name="stredni" id="stredni">
                <label for="stredni">Sřední</label>

                <input type="checkbox" name="tezka" id="tezka">
                <label for="tezka">Těžká</label>
            <br>
            <input type="submit" value="Odeslat" style="color: black;">
        </form>
    </div>
    
    <table class="task-table">
        <tr>
            <th style="text-align: center; padding: 0;">VER</th>
            <th style="padding-right: 45%;">Název</th>
            <th style="padding-right: 20%;">Téma</th>
            <th style="padding-right: 20%;">Úroveň</th>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="static\images\shield_15627713.png" alt=""></td>
            <td>Fibbonaciho posloupnost - určování</td>
            <td>Python</td>
            <td>Lehká</td>
        </tr>
    </table>
</div>


<div class="vertical-navbar">
    <ul>
        <li><a href="/">Python</a></li>
        <li><a href="/">C</a></li>
        <li><a href="/">C#</a></li>
        <li><a href="/">C++</a></li>
        <li><a href="/">SQL</a></li>
        <li><a href="/">HTML</a></li>
        <li><a href="/">Algoritmy</a></li>
    </ul>
</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}